// The Arrow

.the-arrow {
    width: $shaft-width;
    transition: all 0.2s;

    &.-right {
        // position: absolute;
        top: 60%;
        right: 0;

        >.shaft {
            width: 0;
            // width: $shaft-width;
            background-color: $black;

            &:before,
            &:after {
                width: 0;
                // width: $arrow-head-width;
                background-color: $black;
            }

            &:before {
                transform: rotate(0);
                // transform: rotate(40deg);
            }

            &:after {
                transform: rotate(0);
                // transform: rotate(-40deg);
            }
        }
    }

    &.-left {
        top: 3px;

        >.shaft {
            width: $shaft-width;
            // width: 0;
            transition-delay: 0.2s;

            &:before,
            &:after {
                width: $arrow-head-width;
                transition-delay: 0.3s;
                transition: all 0.5s;
            }

            &:before {
                transform: rotate(40deg);
                // transform: rotate(0);
            }

            &:after {
                transform: rotate(-40deg);
                // transform: rotate(0);
            }
        }
    }

    >.shaft {
        background-color: $black;
        display: block;
        height: $shaft-thickness;
        position: relative;
        transition: all 0.2s;
        transition-delay: 0;
        will-change: transform;

        &:before,
        &:after {
            background-color: $black;
            content: '';
            display: block;
            height: $arrow-head-thickness;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 0.2s;
            transition-delay: 0;
        }

        &:before {
            transform-origin: top left;
        }

        &:after {
            transform-origin: bottom left;
        }
    }
}

// Animated Arrow Button

.animated-arrow {
    display: inline-block;
    color: $gray;
    font-size: 1.25em;
    font-style: italic;
    text-decoration: none;
    position: relative;
    transition: all 0.2s;

    &:hover {
        color: $white;
        cursor: pointer;

        >.the-arrow.-right {
            >.shaft {
                width: $shaft-width;
                // width: 0;
                transition-delay: 0.1s;
                background-color: $black;
                transform: translateX(-$shaft-width -$text-arrow-space);

                &:before,
                &:after {
                    width: $arrow-head-width;
                    // width: 0;
                    transition-delay: 0.1s;
                    background-color: $black;
                }

                &:before {
                    transform: rotate(40deg);
                    // transform: rotate(0deg);
                }

                &:after {
                    transform: rotate(-40deg);
                    // transform: rotate(0deg);
                }
            }
        }

        >.arrow__main {
            transform: translateX(-$shaft-width -$text-arrow-space);

            >.the-arrow.-left {
                >.shaft {
                    width: 0;
                    // width: $shaft-width;
                    transform: translateX(200%);
                    transition-delay: 0;

                    &:before,
                    &:after {
                        width: 0;
                        transition-delay: 0;
                        transition: all 0.1s;
                    }

                    &:before {
                        transform: rotate(0);
                        // transform: rotate(40deg);
                    }

                    &:after {
                        transform: rotate(0);
                        // transform: rotate(-40deg);
                    }
                }
            }
        }
    }

    >.arrow__main {
        display: flex;
        align-items: center;
        transition: all 0.2s;

        >.arrow__text {
            margin: 0 $text-arrow-space 0 $text-arrow-space;
            line-height: 1;
        }

        >.the-arrow {
            position: relative;
        }
    }
}

//! OLD (replace commented sections to return to original)
// // The Arrow

// .the-arrow {
//     width: $shaft-width;
//     transition: all 0.2s;

//     &.-left {
//         // position: absolute;
//         top: 60%;
//         left: 0;

//         >.shaft {
//             // width: 0;
//             width: $shaft-width;
//             background-color: $black;

//             &:before,
//             &:after {
//                 // width: 0;
//                 width: $arrow-head-width;
//                 background-color: $black;
//             }

//             &:before {
//                 // transform: rotate(0);
//                 transform: rotate(40deg);
//             }

//             &:after {
//                 // transform: rotate(0);
//                 transform: rotate(-40deg);
//             }
//         }
//     }

//     &.-right {
//         top: 3px;

//         >.shaft {
//             // width: $shaft-width;
//             width: 0;
//             transition-delay: 0.2s;

//             &:before,
//             &:after {
//                 width: $arrow-head-width;
//                 transition-delay: 0.3s;
//                 transition: all 0.5s;
//             }

//             &:before {
//                 // transform: rotate(40deg);
//                 transform: rotate(0);
//             }

//             &:after {
//                 // transform: rotate(-40deg);
//                 transform: rotate(0);
//             }
//         }
//     }

//     >.shaft {
//         background-color: $black;
//         display: block;
//         height: $shaft-thickness;
//         position: relative;
//         transition: all 0.2s;
//         transition-delay: 0;
//         will-change: transform;

//         &:before,
//         &:after {
//             background-color: $black;
//             content: '';
//             display: block;
//             height: $arrow-head-thickness;
//             position: absolute;
//             top: 0;
//             right: 0;
//             transition: all 0.2s;
//             transition-delay: 0;
//         }

//         &:before {
//             transform-origin: top right;
//         }

//         &:after {
//             transform-origin: bottom right;
//         }
//     }
// }

// // Animated Arrow Button

// .animated-arrow {
//     display: inline-block;
//     color: $gray;
//     font-size: 1.25em;
//     font-style: italic;
//     text-decoration: none;
//     position: relative;
//     transition: all 0.2s;

//     &:hover {
//         color: $white;
//         cursor: pointer;

//         >.the-arrow.-left {
//             >.shaft {
//                 // width: $shaft-width;
//                 width: 0;
//                 transition-delay: 0.1s;
//                 background-color: $black;

//                 &:before,
//                 &:after {
//                     // width: $arrow-head-width;
//                     width: 0;
//                     transition-delay: 0.1s;
//                     background-color: $black;
//                 }

//                 &:before {
//                     // transform: rotate(40deg);
//                     transform: rotate(0deg);
//                 }

//                 &:after {
//                     // transform: rotate(-40deg);
//                     transform: rotate(0deg);
//                 }
//             }
//         }

//         >.arrow__main {
//             transform: translateX(-$shaft-width -$text-arrow-space);

//             >.the-arrow.-right {
//                 >.shaft {
//                     // width: 0;
//                     width: $shaft-width;
//                     transform: translateX(200%);
//                     transition-delay: 0;

//                     &:before,
//                     &:after {
//                         width: 0;
//                         transition-delay: 0;
//                         transition: all 0.1s;
//                     }

//                     &:before {
//                         // transform: rotate(0);
//                         transform: rotate(40deg);
//                     }

//                     &:after {
//                         // transform: rotate(0);
//                         transform: rotate(-40deg);
//                     }
//                 }
//             }
//         }
//     }

//     >.arrow__main {
//         display: flex;
//         align-items: center;
//         transition: all 0.2s;

//         >.arrow__text {
//             margin: 0 $text-arrow-space 0 $text-arrow-space;
//             line-height: 1;
//         }

//         >.the-arrow {
//             position: relative;
//         }
//     }
// }