$black: rgb(21, 36, 29);
$light-grey: rgb(234, 232, 233);

$white: #eaeaea;
$gray: #999;

// Arrows
$text-arrow-space: 16px;
$shaft-width: 32px;
$shaft-thickness: 1px;
$arrow-head-width: 12px;
$arrow-head-thickness: $shaft-thickness;