@import 'src/vars';

* {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: $black;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 7px;
    &-track {
        background: rgb(234, 232, 233);
    }
    &-thumb {
        background: rgb(21, 36, 29);
        border-radius: 10px;
        &:hover {
            background: #555;
        }
    }
}

a{
    color: rgb(21, 36, 29);
}

svg {
    fill: $black;
    transition: 0.3s ease;
    &:hover {
        transform: scale(1.075);
    }
}

h1 {
    font-size: 50px;
    span{
        &:nth-of-type(1) {
            font-weight: 400;
        }
        &:nth-of-type(2) {
            font-weight: 600;
        }
    }
}

h2 {
    font-weight: 200;
    font-size: 27px;
}

.main{
    min-height: 100vh;
}

.header{
    height: 50px;
    width: 100%;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;

    ul{
        list-style: none;
        margin: 0;

        li{
            margin-left: 15px;

            *{
                transition: 0.2s ease;
                &:hover{
                    color: $light-grey;
                    text-decoration: none;
                }
            }
        }
    }
}

.main__header {
    background: $light-grey;
    &__name {
        position: relative;
        width: 440px;
        margin-bottom: 70px;
        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            height: 30px;
            width: 30px;
            border-style: solid;
            border-width: 5px 0 0 5px;
            border-color: $black;
            transform: rotate(-45deg);
        }
        &::before {
            top: -40px;
        }
        &::after {
            transform: rotate(135deg);
            bottom: -40px;
            right: 120px;
        }
        &__dash {
            position: absolute;
            height: 60px;
            width: 80px;
            bottom: -53px;
            right: 100px;
            overflow: hidden;

            div {
                height: 90px;
                width: 5px;
                background: $black;
                margin-left: 15px;
                transform: rotate(18deg) translateY(-15px);
            }
        }
    }
    &__personal {
        padding-left: 120px;
        width: 40%;
        p {
            font-weight: 200;
            width: 320px;
        }
    }
    &__image {
        height: 100%;
        width: 60%;
        img {
            left: -100px;
            bottom: 0;
        }
    }
}

.profile__description__mobile{
    background: rgb(21, 36, 29);
    p{
        font-size: 20px;
    }
}

.project{
    &__container {
    width: 80%;
    }
    &__title {
        position: absolute;
        width: 200px;
        height: 50px;
        background: $black;
        transform: rotate(-90deg) translate(-75px, -75px);
        span {
            color: white;
            font-size: 25px;
            white-space: nowrap;
        }
    }
    &__image{
        width: 60%;
        max-width: 668px;
        height: 300px;
        object-fit: contain;
        object-position: top;
    }
}

.footer{
    width: 100%;
    height: 45px;
    padding: 0 30px;
    background: $black;
    border-radius: 30px 30px 0 0;

    span, div{
        color: white;
    }
}

@media (max-width: 1200px) {
    .project__title {
        position: relative;
        width: 200px;
        height: 50px;
        background: $black;
        transform: rotate(0deg);
    }

    .project__title > span{
        width: 200px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .project__image{
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 991.98px) {
    .main__header__links svg{
        fill: white;
    }

    .main__header__links{
        width: 150px;
    }

    .main__header__personal{
        padding-left: 0;
        width: 430px;
        text-align: center;
    }

    .main__header__name::after {
        right: 0;
    }

    .main__header__name__dash {
        right: -20px;
    }

    .main__header__image {
        height: 60%;
    }
}

@media (max-width: 575.98px) {
    .main__header__personal{
        transform: scale(0.65);
    }

    .profile__description__mobile p{
        font-size: 17px;
    }
}