@import 'src/vars';
@import 'src/colors';
@import 'src/arrows';

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: $BLACK;
  text-decoration: none;
}

@import './src/components/dashboard.styles';
@import './src/components/projectDetail.styles';
@import './src/components/card.styles';

@import './src/common/header.styles';
@import './src/common/footer.styles';

.link {
  text-decoration: none;
}
