.the-arrow {
  width: 32px;
  transition: all 0.2s; }
  .the-arrow.-right {
    top: 60%;
    right: 0; }
    .the-arrow.-right > .shaft {
      width: 0;
      background-color: #15241d; }
      .the-arrow.-right > .shaft:before, .the-arrow.-right > .shaft:after {
        width: 0;
        background-color: #15241d; }
      .the-arrow.-right > .shaft:before {
        transform: rotate(0); }
      .the-arrow.-right > .shaft:after {
        transform: rotate(0); }
  .the-arrow.-left {
    top: 3px; }
    .the-arrow.-left > .shaft {
      width: 32px;
      transition-delay: 0.2s; }
      .the-arrow.-left > .shaft:before, .the-arrow.-left > .shaft:after {
        width: 12px;
        transition-delay: 0.3s;
        transition: all 0.5s; }
      .the-arrow.-left > .shaft:before {
        transform: rotate(40deg); }
      .the-arrow.-left > .shaft:after {
        transform: rotate(-40deg); }
  .the-arrow > .shaft {
    background-color: #15241d;
    display: block;
    height: 1px;
    position: relative;
    transition: all 0.2s;
    transition-delay: 0;
    will-change: transform; }
    .the-arrow > .shaft:before, .the-arrow > .shaft:after {
      background-color: #15241d;
      content: '';
      display: block;
      height: 1px;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.2s;
      transition-delay: 0; }
    .the-arrow > .shaft:before {
      transform-origin: top left; }
    .the-arrow > .shaft:after {
      transform-origin: bottom left; }

.animated-arrow {
  display: inline-block;
  color: #999;
  font-size: 1.25em;
  font-style: italic;
  text-decoration: none;
  position: relative;
  transition: all 0.2s; }
  .animated-arrow:hover {
    color: #eaeaea;
    cursor: pointer; }
    .animated-arrow:hover > .the-arrow.-right > .shaft {
      width: 32px;
      transition-delay: 0.1s;
      background-color: #15241d;
      transform: translateX(-38px); }
      .animated-arrow:hover > .the-arrow.-right > .shaft:before, .animated-arrow:hover > .the-arrow.-right > .shaft:after {
        width: 12px;
        transition-delay: 0.1s;
        background-color: #15241d; }
      .animated-arrow:hover > .the-arrow.-right > .shaft:before {
        transform: rotate(40deg); }
      .animated-arrow:hover > .the-arrow.-right > .shaft:after {
        transform: rotate(-40deg); }
    .animated-arrow:hover > .arrow__main {
      transform: translateX(-38px); }
      .animated-arrow:hover > .arrow__main > .the-arrow.-left > .shaft {
        width: 0;
        transform: translateX(200%);
        transition-delay: 0; }
        .animated-arrow:hover > .arrow__main > .the-arrow.-left > .shaft:before, .animated-arrow:hover > .arrow__main > .the-arrow.-left > .shaft:after {
          width: 0;
          transition-delay: 0;
          transition: all 0.1s; }
        .animated-arrow:hover > .arrow__main > .the-arrow.-left > .shaft:before {
          transform: rotate(0); }
        .animated-arrow:hover > .arrow__main > .the-arrow.-left > .shaft:after {
          transform: rotate(0); }
  .animated-arrow > .arrow__main {
    display: flex;
    align-items: center;
    transition: all 0.2s; }
    .animated-arrow > .arrow__main > .arrow__text {
      margin: 0 16px 0 16px;
      line-height: 1; }
    .animated-arrow > .arrow__main > .the-arrow {
      position: relative; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  color: #15241d;
  text-decoration: none; }

::-webkit-scrollbar {
  width: 7px; }
  ::-webkit-scrollbar-track {
    background: #eae8e9; }
  ::-webkit-scrollbar-thumb {
    background: #15241d;
    border-radius: 10px; }
    ::-webkit-scrollbar-thumb:hover {
      background: #555; }

a {
  color: #15241d; }

svg {
  fill: #15241d;
  transition: 0.3s ease; }
  svg:hover {
    transform: scale(1.075); }

h1 {
  font-size: 50px; }
  h1 span:nth-of-type(1) {
    font-weight: 400; }
  h1 span:nth-of-type(2) {
    font-weight: 600; }

h2 {
  font-weight: 200;
  font-size: 27px; }

.main {
  min-height: 100vh; }

.header {
  height: 50px;
  width: 100%;
  padding: 0 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  backdrop-filter: blur(5px); }
  .header *:hover {
    text-decoration: none;
    color: #15241d; }
  .header ul {
    list-style: none;
    margin: 0; }
    .header ul li {
      margin-left: 15px; }
      .header ul li * {
        transition: 0.2s ease; }
        .header ul li *:hover {
          color: #eae8e9; }

.main__header {
  background: #eae8e9; }
  .main__header__name {
    position: relative;
    width: 440px;
    margin-bottom: 70px; }
    .main__header__name::before, .main__header__name::after {
      content: '';
      display: block;
      position: absolute;
      height: 30px;
      width: 30px;
      border-style: solid;
      border-width: 5px 0 0 5px;
      border-color: #15241d;
      transform: rotate(-45deg); }
    .main__header__name::before {
      top: -40px; }
    .main__header__name::after {
      transform: rotate(135deg);
      bottom: -40px;
      right: 120px; }
    .main__header__name__dash {
      position: absolute;
      height: 60px;
      width: 80px;
      bottom: -53px;
      right: 100px;
      overflow: hidden; }
      .main__header__name__dash div {
        height: 90px;
        width: 5px;
        background: #15241d;
        margin-left: 15px;
        transform: rotate(18deg) translateY(-15px); }
  .main__header__personal {
    padding-left: 120px;
    width: 40%; }
    .main__header__personal p {
      font-weight: 200;
      width: 320px; }
  .main__header__image {
    height: 100%;
    width: 60%; }
    .main__header__image img {
      left: -100px;
      bottom: 0; }

.profile__description__mobile {
  background: #15241d; }
  .profile__description__mobile p {
    font-size: 20px; }

.project__container {
  width: 80%; }

.project__title {
  position: absolute;
  width: 200px;
  height: 50px;
  background: #15241d;
  transform: rotate(-90deg) translate(-75px, -75px); }
  .project__title span {
    color: white;
    font-size: 25px;
    white-space: nowrap; }

.project__image {
  width: 60%;
  max-width: 668px;
  object-fit: contain;
  object-position: top; }

.project__category {
  width: 310px;
  flex-shrink: 0;
  user-select: none; }
  .project__category__name {
    padding: 0;
    font-size: 250px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 310px;
    text-align: center;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 0; }
  .project__category a {
    width: 120px;
    margin-left: 82px; }
    .project__category a:hover {
      text-decoration: none; }

.project__information__container {
  max-width: 860px;
  border: 1px solid red; }
  .project__information__container * {
    font-family: 'Roboto', sans-serif; }

.project__information__image {
  width: 100%;
  object-fit: contain;
  object-position: top; }

.project__information__title--title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  line-height: 30px; }

.project__information__title--date {
  font-size: 21px;
  font-weight: 100;
  color: #999; }

.project__information__body {
  font-weight: 100;
  font-size: 19px; }

.footer {
  width: 100%;
  height: 45px;
  padding: 0 30px;
  background: #15241d;
  border-radius: 30px 30px 0 0; }
  .footer span, .footer div {
    color: white; }

@media (min-width: 1401px) {
  .project__category {
    width: 360px; }
    .project__category__name {
      font-size: 350px;
      line-height: 360px; }
    .project__category a {
      font-size: 26px; }
  .project__information__container {
    max-width: 1020px; }
  .project__information__title--title {
    font-size: 50px;
    line-height: 30px; }
  .project__information__title--date {
    font-size: 28px;
    color: #999; }
  .project__information__body {
    font-size: 24px; } }

@media (max-width: 1200px) {
  .project__title {
    position: relative;
    width: 200px;
    height: 50px;
    background: #15241d;
    transform: rotate(0deg); }
  .project__title > span {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .project__image {
    width: 100%;
    height: 50%; } }

@media (max-width: 991.98px) {
  .main__header__links svg {
    fill: white; }
  .main__header__links {
    width: 150px; }
  .main__header__personal {
    padding-left: 0;
    width: 430px;
    text-align: center; }
  .main__header__name::after {
    right: 0; }
  .main__header__name__dash {
    right: -20px; }
  .main__header__image {
    height: 60%; } }

@media (max-width: 575.98px) {
  .main__header__personal {
    transform: scale(0.65); }
  .profile__description__mobile p {
    font-size: 17px; } }

/*# sourceMappingURL=styles.css.map */
