.button {
  &__primary {
    padding: 4px 12px;
    border-radius: 8px;
    background-color: $YELLOW;
    font-weight: 300;
    border: none;
    box-shadow: 4px 4px 0px $BLACK;

    &:hover {
      cursor: pointer;
      box-shadow: 3px 3px 0px $BLACK;
      transform: translate(1px, 1px);
    }

    &:active {
      box-shadow: 0px 0px 0px $BLACK;
      transform: translate(4px, 4px);
      transition: 0.1s;
    }

    &__active {
      box-shadow: 0 0 0;
      transform: translate(2px, 2px);

      &:hover {
        cursor: pointer;
        transform: translate(0, 0);
        box-shadow: 2px 2px 0px $BLACK;
      }
    }

    transition: 0.3s;
  }
}
