.searcher {
  position: relative;

  input {
    border: none;
    padding: 8px;

    &:focus {
      outline: none;
    }
  }

  ul {
    position: absolute;
    max-height: 240px;
    min-width: 160px;
    overflow-y: scroll;
    z-index: 1;
    background: white;
    list-style-type: none;
    padding: 0;

    filter: $SHADOW_1;

    li {
      padding: 4px 8px;

      &:hover {
        background: $YELLOW;
        cursor: pointer;
      }
    }
  }
}
